<!-- Footer -->
<div class="footer">
    <div class="footer_company" style="border: 1px solid black;">
        <a href="{% url 'main:showmain' %}">NODOUBT</a>
        <p id="footer_title">취준생 여러분의 취업 성공을 응원합니다.</p>
        <p id="footer_content">누구나 내게 맞는 직무를 선택하고 좋은 기업에 들어가고 싶어하지만,</p>
        <p id="footer_content">현실은 자신의 장점조차 찾기 버거운 취업준비를 누구보다 공감하며</p>
        <p id="footer_content">취준생들이 느낄 불편과 힘듦을 조금이나마 덜어주고 싶었습니다.</p>
    </div>
    <!-- <div class="footer_letter" style="border: 1px solid black;">
        <a href="{% url 'main:letter' %}"><button>NODOUBT이 드리는 편지</button></a>
    </div> -->
    <div class="footer_feedback" style="border: 1px solid black;">
        <a href="{% url 'main:feedback' %}"><button>피드백/질문 작성하기</button></a>
    </div>
</div>
