{% extends 'base.html' %}
{% load static %}

{% block content %}
<div>
	<h1>글 수정하기</h1>
	<form action = "{% url 'main:board_update' board.id %}" method = "post" enctype="multipart/form-data">
    	{% csrf_token %}
    	<p>제목: <input type="text" name="title" value="{{board.title}}"></p>
    	<!-- <p>작성자: <input type="text" name="writer"></p> -->
    	<p>내용: <input type="text" name="body" id="" cols="30" rows="10" value="{{board.body}}"></p>
        <p>사진: <input type="file" name="image" value=""></p>
        <!-- {% if board.image %}
            기존 첨부 이미지: <img src="{{board.image.url}}" alt="사진">
        {% endif %} -->
    	<button type="submit">제출</button>
	</form>
</div>

{% endblock %}
