{% extends 'base.html' %}
{% load static %}
<!---->
{% block content %}
<!-- 컨텐츠 1층 -->
<div class="content_first" style="border: 5px solid green;">
    <!-- 컨텐츠 1층의 왼쪽 -->
    <div class="content_first_left" style="border: 3px solid red;">
        <!-- 왼쪽의 위쪽 -->
        <div class="content_first_left_upper">
            <p>취업 준비에 확신이 없을 때</p>
            <p>나의 첫 커리어 시작을 위한 컨텐츠</p>
        </div>
        <div class="content_first_left_lower">
            <ul class="content_first_left_lower_label">NODOUBT의 컨텐츠 로드맵</ul>
            <ul class="content_first_left_lower_option">
                <li><a onclick="fnMove('second')">선배들의 취업정보&nbsp;&nbsp;<i class="fas fa-chevron-right"></i></a></li>
                <li><a onclick="fnMove('issue')">취업 준비가 처음일 때&nbsp;&nbsp;<i class="fas fa-chevron-right"></i></a></li>
                <li><a onclick="fnMove('popular')">나의 자소서가 불안하다면&nbsp;&nbsp;<i class="fas fa-chevron-right"></i></a></li>
                <li><a onclick="fnMove('ready')">면접에 대하여&nbsp;&nbsp;<i class="fas fa-chevron-right"></i></a></li>
            </ul>
        </div>
    </div>
    <!-- 컨텐츠 1층의 오른쪽 -->
    <div class="content_first_right" style="border: 3px solid yellow;"></div>
</div>
<!---->
<!--두번째 컨텐츠-->
<div class="content_second" style="border: 5px solid green;">
    <!--왼쪽-->
    <div class="content_second_upper_left" style="border: 3px solid red;">
        <img src="{% static 'images/second_right_image.jpg' %}">
    </div>
    <!--왼쪽-->
    <div class="content_second_upper_right" style="border: 3px solid yellow;">
        <h1>모두가 완벽해서<br>취업하는 것은 아닙니다.</h1>
        <br>
        <p>&nbsp;선배들의 취업정보 <strong id="modal_btn" style="color: orange;">받아보기</strong>&nbsp;<i id="content_second_upper_right_arrow" class="fas fa-long-arrow-alt-left"></i></p>
    </div>
    <div class="black_bg"></div>
    <div class="content_second_left modal_wrap">
        <div class="modal_close">
            <a>X</a>
        </div>
        <div class="content_second_left_application">
            <h2>신청서</h2>
            <div class="content_second_left_application_submit">
                {% if user.is_authenticated %}
                <form id="content_second_left_application_submit_form" action = "{% url 'main:request_create' %}" method = "post">
                    {% csrf_token %}
                    <div class="content_second_select">
                        <select class="content_second_selects" name="employ_type" id="employ_type">
                            <option value="">채용 유형</option>
                            <option value="정규">정규</option>
                            <option value="인턴">인턴</option>
                            <option value="IPP">IPP</option>
                        </select>
                    </div>
                    <div class="content_second_select_input">
                        선호직무:&nbsp;<input class="underline content_second_name" type="text" id="job_type" name="job_type" placeholder="  마케팅" required>
                    </div>
                    <div class="content_second_select_input_two">
                        이름:&nbsp;<input class="underline content_second_name" type="text" id="name" name="name" placeholder="  홍길동" required>
                    </div>
                    <div class="content_second_select_input_two">
                        학번:&nbsp;<input class="underline content_second_school_number" type="text" id="school_number" name="school_number" placeholder="  2016111667" required>
                    </div>
                    <div class="content_second_select_input_three">
                        이메일:&nbsp;<input class="underline content_second_email" type="text" id="email" name="email" placeholder="  abc@gmail.com" required>
                    </div>
                    <div class="content_second_submit_box">
                        <input class="content_second_submit" type="submit" value="신청서 제출">
                    </div>
                </form>
                {% else %}
                <br><br><br><br>
                <h4 id="content_second_left_application_submit_signup">구글 로그인 후 가능</h4>
                <a href="{% url 'account_login' %}"><button>구글 로그인</button></a>
                <br><br><br><br>
                {% endif %}
            </div>
            <div class="content_second_left_application_inst">
                <h5 id="content_second_left_application_inst_first">두 명의 선배 정보를</h5>
                <h5 id="content_second_left_application_inst_second">9월 27일 월요일까지</h5>
                <h5 id="content_second_left_application_inst_second">이메일로 보내드립니다!</h5>
            </div>
        </div>
    </div>
</div>

<div class="content_popular" style="border: 5px solid green;">
    <div class="content_popular_title">공개된 선배들의 취업정보</div>
    <div class="content_popular_top" >
        {% for data in datas %}
        <a href="{% url 'main:detail' data.id %}">
            <div class="content_popular_top_contents">
                <!-- <p id="content_popular_top_contents_company">{{data.company}}</p>                
                <p id="content_popular_top_contents_job">{{data.job}}</p>
                <p id="content_popular_top_contents_year">{{data.employed_year}}</p>
                <a href ="{%url 'main:detail' data.id %}">...열어보기</a> -->
                {% if data.image %}
                    <img src="{{data.image.url}}" width="100%" height="100%">
                {% else %}
                    <p id="content_popular_top_contents_company">{{data.company}}</p>                
                    <p id="content_popular_top_contents_job">{{data.job}}</p>
                    <p id="content_popular_top_contents_year">{{data.employed_year}}</p>
                {% endif %}
            </div>
        </a>
        {%endfor%}
    </div>
    <p class="controls">
        <span class="prev"><</span>
        <span class="next">></span>
    </p>
    <div class="content_popular_top slide_wrapper" >
        <div class="slides">
            {% for data in datas %}
            <a href="{% url 'main:detail' data.id %}">
                <div class="content_popular_top_contents">
                    <!-- <p id="content_popular_top_contents_company">{{data.company}}</p>                
                    <p id="content_popular_top_contents_job">{{data.job}}</p>
                    <p id="content_popular_top_contents_year">{{data.employed_year}}</p>
                    <a href ="{%url 'main:detail' data.id %}">...열어보기</a> -->
                    {% if data.image %}
                        <img src="{{data.image.url}}" width="100%" height="100%">
                    {% else %}
                        <p id="content_popular_top_contents_company">{{data.company}}</p>                
                        <p id="content_popular_top_contents_job">{{data.job}}</p>
                        <p id="content_popular_top_contents_year">{{data.employed_year}}</p>
                    {% endif %}
                </div>
            </a>
            {%endfor%}
        </div>
    </div>
    <!-- <div style="text-align: center;">
        <h2><a href="{% url 'main:new' %}">자소서 업로드</a></h2>
    </div>     -->
</div>

<div class="content_issue" style="border: 5px solid green;">
    <div>[ 취업 준비가 처음일 때 ]</div>
    <div>직무에 대한 정보를 알고 싶다면?</div>
    <div style="display: flex; justify-content: center;">
        <iframe style="margin: 0px 40px; width: 320px; height: 180px;" src="https://www.youtube.com/embed/ZqfwtKByb0c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe style="margin: 0px 40px; width: 320px; height: 180px;" src="https://www.youtube.com/embed/UIYGNvEVPI4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe style="margin: 0px 40px; width: 320px; height: 180px;" src="https://www.youtube.com/embed/mvM69ilcxas" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    

    <div class="content_issue_title">자격증 기초부터 천천히 준비하기</div>
    <div class="content_issue_category">
        <a class="content_issue_category_list category_list_first" onclick="paintList(1)"><h3><i class="fas fa-school fa-2x"></i><br>어학</h3></a>
        <a class="content_issue_category_list category_list_second" onclick="paintList(2)"><h3><i class="fas fa-chalkboard-teacher fa-2x"></i><br>공기업</h3></a>
        <a class="content_issue_category_list category_list_third" onclick="paintList(3)"><h3><i class="fas fa-newspaper fa-2x"></i><br>사기업</h3></a>
        <a class="content_issue_category_list category_list_fourth" onclick="paintList(4)"><h3><i class="fas fa-users fa-2x"></i><br>기타</h3></a>
    </div>
    <div class="content_issue_list">
        <div class="list_content list_first"></div>
        <div class="list_content list_second"></div>
        <div class="list_content list_third"></div>
        <div class="list_content list_fourth"></div>
        <div class="list_content list_fifth"></div>
        <div class="list_content list_sixth"></div>
    </div>
</div>
<!---->
<div class="content_ready">
    <div class="content_ready_title">취업 준비를 영상과 함께</div>
    <div class="content_ready_content">
        <div class="content_ready_content_contents">
            <iframe src="https://www.youtube.com/embed/0tLTEg-ftvI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h5 id="content_ready_content_contents_title">막막한 나의 취준에 그저 빛이 되어 줄 '취업준비 순서 5단계'</h5>
            <h5 id="content_ready_content_contents_name">인사담당자</h6>
            <h5 id="content_ready_content_contents_exp">취업 준비를 막 시작한 사람들에게 가이드를 제시해주는 영상</h5>
        </div>
        <div class="content_ready_content_contents">
            <iframe src="https://www.youtube.com/embed/eGv5EAMF8OQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h5 id="content_ready_content_contents_title">면접관이 5초만 봐도 합격시키고 싶은 자소서 작성법 3가지</h5>
            <h5 id="content_ready_content_contents_name">면접왕 이형</h5>
            <h5 id="content_ready_content_contents_exp">경험과 성과를 작성할 때 좋은 예시가 될 수 있는 영상</h5>
        </div>
        <div class="content_ready_content_contents">
            <iframe src="https://www.youtube.com/embed/4XJ10opMdL8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h5 id="content_ready_content_contents_title">면접관이 절대 안믿는 vs. 합격시키는 지원자의 답변</h5>
            <h5 id="content_ready_content_contents_name">면접왕 이형</h5>
            <h5 id="content_ready_content_contents_exp">면접 상황극을 통해 여러 질문들에 대한 모범사례를 보여주는 영상</h5>
        </div>
    </div>
    <div class="content_ready_content mobile_no">
        <div class="content_ready_content_contents">
            <iframe src="https://www.youtube.com/embed/ZqfwtKByb0c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h5 id="content_ready_content_contents_title">오픽 세부 진단서 사기다!!!</h5>
            <h5 id="content_ready_content_contents_name">오픽노잼</h5>
            <h5 id="content_ready_content_contents_exp">오픽의 색다른 공부법을 제시하는 채널</h5>
        </div>
        <div class="content_ready_content_contents">
            <iframe src="https://www.youtube.com/embed/UIYGNvEVPI4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h5 id="content_ready_content_contents_title">[취준진담 Ep.01] 역지사지 면접 | SBS 스페셜</h5>
            <h5 id="content_ready_content_contents_name">달리 [SBS 교양 공식채널]</h5>
            <h5 id="content_ready_content_contents_exp">실제 취준생들과 기업 면접관이 역할을 바꿔 면접을 진행하는 실험을 통해 취준생들의 고충을 보여주는 영상</h5>
        </div>
        <div class="content_ready_content_contents">
            <iframe src="https://www.youtube.com/embed/mvM69ilcxas" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h5 id="content_ready_content_contents_title">공기업 지원 꿀팁! 공기업 지원하는데 이 영상을 안보고 한다구?</h5>
            <h5 id="content_ready_content_contents_name">인싸 담당자</h5>
            <h5 id="content_ready_content_contents_exp">공기업 취업준비를 시작한 사람들에게 가이드를 제공해주는 영상</h5>
        </div>
    </div>
</div>

{% endblock %}